$transition-time: 1.25s;

.projects {
  .card {
    width: 60vw;
    height: 15vw;
    margin: 3rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(175, 175, 175, 0.5);
  }

  .card:hover>img {
    transform: translate(30vw);
    transition: transform $transition-time;
  }

  img {
    position: absolute;
    height: 15vw;
    width: 30vw;
    margin: auto;

    transform: translate(0);
    transition: transform $transition-time;
    background-color: $color-gray;
  }
}
