.resume {
  img {
    float: left;
    width: 90%;
    /* Size of image */
    max-width: 200px;
    height: auto;
    margin: auto;
    padding-right: 1rem;
    padding-top: 1.75rem;
  }

  a {
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    white-space: nowrap;
  }

  h3 {
    white-space: nowrap;
  }

  .red {
    color: $color-red;
  }

  .red::selection {
    background-color: $color-black;
  }

  .download {
    margin-top: 0;
  }

  @media screen and (max-width: $size-mobile) {
    img {
      float: none;
    }
  }
}
