.resume {
  img {
    float: left;
    width: 90%;
    /* Size of image */
    max-width: 200px;
    height: auto;
    margin: auto;
  }

  h3 {
    position: relative;
    left: -6.5%;
  }

  .red {
    color: $color-red;
  }

  .red::selection {
    background-color: $color-black;
  }

  p {
    position: relative;
    left: 2rem;
  }
}
